@import url('../img/background%201.png')S;
body, html{
	
   font-family: 'Roboto Slab', serif;
    margin: 0 auto;
 
	color: white;
font-family: 'Roboto', sans-serif;

}
*{	text-decoration: none;
  box-sizing: border-box;
}
.card a{
	max-width: 100%;
	min-height: 100%;
}
wrapper__card, p{
	text-align: center;
}
.container{
display: flex;
	justify-content: center;
	
margin:0 ;
}
.background{
	   background-size: 100% 100%;
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
 
         background-image: url(../img/background%201.png);
    background-repeat: no-repeat;
}
.wrapper{
	width: 1030px;
	height: 100vh; 
	box-sizing: border-box;
  display: grid;
margin:auto;
  grid-template-columns:repeat(3,300px);
    grid-template-rows:repeat(2,220px);
	align-content: center
  }
.container2 a{
	text-decoration: none;
}
.container2 a:hover{
color:#F26522;
	
}
.container2{	

	z-index: 5;
display: flex;	
margin:0 auto;
position: relative;
	top: -92px;
	right:150px;
}
.contacts:hover p{
	color:#F26522;
}
.contacts:hover phone{
color:#F26522;	
color:#F26522;	
} 
.contacts  {
	margin-left:  120px;
	text-align: right;
	line-height: 47px;
}
.container2:hover svg{
opacity: 0;
	color:#F26522;	
}
.container2:hover, logo{
	
opacity: 1;
	background: url(../img/logo%202.svg);
background-repeat: no-repeat;
	color:#F26522;

}
svg  a.logo:hover{
max-width: 22px
	color:#F26522;
}
.container2, svg, a{

display: flex;
max-width: 142px;
	min-width: 54px;
	max-height: 47px;
	height: 52px;

}
.logo:hover{
color:#F26522;
	
}

.logo{
	max-width: 122px;
	font-size: 29px;
	margin-top:4px;
}
.contacts{	z-index: 2222;
	display: flex;
	flex-direction: column;

	position: relative;
	bottom:172px;
	left: 682px;
}
h1{
	padding-left: 12px;
	line-height: 22px;
}
.logo span{
	font-size: 18px;
	
}

.wrapper p{
	color: #FFFFFF;	
font-family: 'Roboto', sans-serif;
}
.wrapper__card, p{

}
.cards{
  display: grid;
  grid-template-columns:repeat(3,300px);
    grid-template-rows:repeat(2,220px);
    grid-gap: 72px;
}
.card {  
	padding: 2px;
      width: 100%;
  height: 100%;
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  position: relative;
  overflow: hidden;
}
.price{font-weight: 500;
	font-size: 22px;
}
a{
	color: white;
}
.customizing{
	padding-top: 10px;

}
.arrow{
	padding-left: 12px;
}`
.align{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card__describe{
	display: flex;
	flex-direction: column;
font-weight: 300;
line-height: 1.6;
	font-size: 14px;
	
}

.card:hover .card__img1{
bottom:0;
     opacity:1; 
}
.card__1, .card__img1 {
    background-image: url('../img/image-2.png');
  padding-top:22px;
	 background-size: 100% 100%;
  background-size: cover;
}
.card__1 .card__img1 {
background: #F26522;
  margin:0 auto;
}
.card__img1 {
    width: 100%;
    height: 54px;
    transition: 0.2s all ease-out;
  position: absolute;
bottom: -128px;
  opacity:0;
padding-bottom:5px;
}
.card__1, .card__img1 {
    background-image: url('../img/image-2.png');
  padding-top:22px;
	 background-size: 100% 100%;
  background-size: cover;
}
.card__img1 {
    width: 100%;
    height: 84px;
    transition: 0.2s all ease-out;
  position: absolute;
bottom: -128px;
  opacity:0;
padding-bottom:2px;
}
.align{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card__describe{
	display: flex;
	flex-direction: column;
font-weight: 300;
line-height: 1.6;
	font-size: 14px;
	
}



.card:hover .card__img2{
bottom:0;
     opacity:1; 
}
.card__2, .card__img2 {
    background-image: url('../img/image.png');
  padding-top:22px;
	 background-size: 100% 100%;
  background-size: cover;
}
.card__2 .card__img2 {
background: #F26522;
  margin:0 auto;
}
.card__img2 {
    width: 100%;
       height: 84px;
    transition: 0.2s all ease-out;
  position: absolute;
bottom: -128px;
  opacity:0;
padding-bottom:5px;
}


.card__3, .card__img3 {
    background-image: url('../img/image-1.png');
  padding-top:22px;
	 background-size: 100% 100%;
  background-size: cover;
}
.card__3 .card__img3 {
background: #F26522;
  margin:0 auto;
}
.card__img3 {
    width: 100%;
    height: 84px;
    transition: 0.2s all ease-out;
  position: absolute;
bottom: -128px;
  opacity:0;
padding-bottom:5px;
}
.card:hover .card__img3{
bottom:0;
     opacity:1; 
}



.card__4, .card__img4 {
    background-image: url('../img/image3.png');
  padding-top:22px;
	 background-size: 100% 100%;
  background-size: cover;
}
.card__4 .card__img4 {
background: #F26522;
  margin:0 auto;
}
.card__img4 {
    width: 100%;
    height: 84px;
    transition: 0.2s all ease-out;
  position: absolute;
bottom: -128px;
  opacity:0;
padding-bottom:5px;
}
.card:hover .card__img4{
bottom:0;
     opacity:1; 
}




.card__5, .card__img5 {
    background-image: url('../img/image4.png');
  padding-top:22px;
	 background-size: 100% 100%;
  background-size: cover;
}
.card__5 .card__img5 {
background: #F26522;
  margin:0 auto;
}
.card__img5 {
    width: 100%;
       height: 84px;
    transition: 0.2s all ease-out;
  position: absolute;
bottom: -128px;
  opacity:0;
padding-bottom:5px;
}
.card:hover .card__img5{
bottom:0;
     opacity:1; 
}





.card__6, .card__img6 {
    background-image: url('../img/image5.png');
  padding-top:22px;
	 background-size: 100% 100%;
  background-size: cover;
}
.card__6 .card__img6{
background: #F26522;
  margin:0 auto;
}
.card__img6 {
    width: 100%;
     height: 84px;
    transition: 0.2s all ease-out;
  position: absolute;
bottom: -128px;
  opacity:0;
padding-bottom:5px;
}
.card:hover .card__img6{
bottom:0;
     opacity:1; 
}




